.btn {
    background-color: $em-red;
    color: white;
    padding: 15px 40px;
    @include body-font;
    font-weight: 600;
    cursor: pointer;
    transition: .3s ease all;

    &:hover {
        background-color: $em-teal;
        color: white;
    }
}