.navbar.scrolled {
    background-color: $clutch-purple;
    -webkit-box-shadow: 0 10px 22px 0 rgba(0, 0, 0, 0.54);
    -moz-box-shadow: 0 10px 22px 0 rgba(0, 0, 0, 0.54);
    box-shadow: 0 10px 22px 0 rgba(0, 0, 0, 0.54);
    transition: 0.3s ease;
}

.modal-open {
    .navbar.scrolled {
        background-color: $clutch-purple;
        transition: 0.3s ease;
        -webkit-box-shadow: 0 10px 22px 0 rgba(0, 0, 0, 0);
        -moz-box-shadow: 0 10px 22px 0 rgba(0, 0, 0, 0);
        box-shadow: 0 10px 22px 0 rgba(0, 0, 0, 0);
    }
}

#navbarNav {
    justify-content: center;

}

.navbar {
    width: 100%;
    z-index: 9999;
    transition: 0.3s ease;
    position: fixed;
    top: 0;
    padding: 20px 0 0 0;

    .container-fluid {
        padding: 0;
    }

    .nav-right {
        display: flex;
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: 600;
        color: $em-teal;
        font-size: 18px;

        .patients {
            color: $em-red;
        }

        .member-btn {
            margin-left: 25px;

            a {
                background-color: $em-light-blue;
                padding: 18px 34px;
            }
        }
    }

    @include respond-below(md) {
        padding: 3%;
    }

    .navbar-brand {
        padding-left: 50px;

        img {
            width: 150px;
        }
    }


}

#menu-main {
    margin: 0;

    .menu-item {
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: 600;
        color: $em-teal;
        margin: 5px 25px;
        font-size: 18px;
    }
}