.navbar.scrolled {
    background-color: $em-red;
    -webkit-box-shadow: 0 10px 22px 0 rgba(0, 0, 0, 0.54);
    -moz-box-shadow: 0 10px 22px 0 rgba(0, 0, 0, 0.54);
    box-shadow: 0 10px 22px 0 rgba(0, 0, 0, 0.54);
    transition: 0.3s ease;

    .menu-btn {
        a {
            background-color: $em-teal !important;
        }
    }

    // &:before {
    //     content: "";
    //     background-color: $em-red;
    //     width: 100%;
    //     position: absolute;
    //     top: 0;
    //     left: 0;
    //     z-index: 0;
    //     animation: SlideDown .3s ease-in forwards;
    // }

    // @keyframes SlideDown {
    //     0% {
    //         height: 0
    //     }

    //     100% {
    //         height: 56px
    //     }
    // }

    .navbar-brand {
        svg {
            path {
                fill: #fff5ef
            }
        }
    }

    #menu-main {
        .menu-item {
            color: #fff5ef;

            a {
                &:hover {
                    color: $em-light-blue;
                }
            }
        }
    }

    .nav-right {
        .patients {
            color: #fff5ef;

        }
    }
}

.modal-open {
    .navbar.scrolled {
        background-color: $clutch-purple;
        transition: 0.3s ease;
        -webkit-box-shadow: 0 10px 22px 0 rgba(0, 0, 0, 0);
        -moz-box-shadow: 0 10px 22px 0 rgba(0, 0, 0, 0);
        box-shadow: 0 10px 22px 0 rgba(0, 0, 0, 0);
    }
}

#navbarNav {
    justify-content: center;

}

.navbar {
    width: 100%;
    z-index: 9999;
    transition: 0.3s ease;
    position: fixed;
    top: 0;
    padding: 0 0 4px 0;

    &:before {
        height: 0;
        transition: .3s ease all;
    }

    .container-fluid {
        padding: 0;
        z-index: 1;
    }

    .nav-right {
        display: flex;
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: 600;
        color: $em-teal;
        font-size: 18px;

        .patients {
            color: $em-red;

            @include respond-below(md) {
                display: none;
            }

            @media (max-width: 1229px) {
                font-size: 14px;
            }

            i {
                color: $em-teal;
            }

        }

        .member-btn {
            margin-left: 25px;

            @include respond-below(md) {
                display: none;
            }

            a {
                background-color: $em-light-blue;
                padding: 18px 34px;
                transition: .3s ease all;

                @media (max-width: 1229px) {
                    font-size: 14px;
                }

                &:hover {
                    background-color: $em-red;
                    color: #fff5ef;
                }
            }
        }

        .menu-btn {
            @include respond-above(md) {
                display: none;
            }

            a {
                background-color: $em-red;
                padding: 18px 34px;
                transition: .3s ease all;
                color: #fff5ef;

                @media (max-width: 1229px) {
                    font-size: 14px;
                }


            }
        }
    }

    @include respond-below(md) {
        padding: 3%;
    }

    .navbar-brand {
        padding-left: 50px;

        @include respond-below(md) {
            padding-left: 25px;
        }

        svg {
            width: 150px;
        }
    }


}

.admin-bar .navbar {
    top: 2em;
}

#menu-main {
    margin: 0;

    @media (max-width: 1229px) {
        display: none;
    }

    .menu-item {
        font-family: 'Source Sans Pro', sans-ser if;
        font-weight: 600;
        color: $em-teal;
        margin: 5px 25px;
        font-size: 18px;

        @media (max-width: 1229px) {
            font-size: 14px;
        }


    }
}