@import "custom-variables";
@import "media-queries";
@import "../bootstrap/scss/bootstrap";
@import "typography";
@import "button";
@import "cta";
@import "navigation";
@import "splash-page";
@import "coming-soon";

body {
    background-color: #fff5ef !important;
}

.site-content {
    width: 100% !important;
}

.btn {
    white-space: normal;
}

.ast-container #wpadminbar {
    @media (max-width: 600px) {
        position: fixed;
    }
}

/* Sass we write */
// .navbar {
//     position: fixed;
//     top: 0;
//     @include admin-sticky-fix;

//     @include respond-below(md) {
//         flex-wrap: nowrap;
//     }
// }


.container {
    @media (min-width: 1650px) {
        max-width: 70%;
        max-width: 1344px;
    }

    @include respond-below(xs) {
        max-width: 95%;
        // padding-left: 15px;
        // padding-right: 15px;
    }

    max-width: 85%;
}

.img-shadow {
    filter: drop-shadow(13px 8px 14px rgba(0, 0, 0, 0.27));
    -webkit-filter: drop-shadow(13px 8px 14px rgba(0, 0, 0, 0.27));
    -moz-filter: drop-shadow(13px 8px 14px rgba(0, 0, 0, 0.27));
}

a:active,
a:focus,
a:hover {
    outline: none;
    border: 0;
}

// .admin-bar .site-content {
//     padding-top: 32px;
// }

a {
    text-decoration: none;
    color: inherit;
}

a {
    &:hover {
        text-decoration: none;
    }
}

.home-hero {
    @media (min-width: 1299px) {
        // height: 100vh;
    }

    width: 100%;

    .header-wrapper {
        height: 100%;
        padding: 120px 0 0 0;
        display: flex;
        position: relative;
        justify-content: flex-end;

        @include respond-below(md) {
            margin: 0 0 100px;
            justify-content: center;
        }

        @include respond-below(md) {
            margin-bottom: 100px
        }

        .header-title {
            position: absolute;
            left: 9%;
            top: 50%;
            transform: translateY(-50%);
            z-index: 1;

            h1 {
                span {
                    font-size: 4.25vw;
                }
            }

            @include respond-below(md) {
                position: relative;
                transform: translateY(0);
                left: 0;
                top: 0;
                padding: 5% 10%;

                h1 {
                    font-size: 37px !important;
                    line-height: 35px !important;
                    text-align: center;

                    span {
                        font-size: 37px !important;
                    }
                }
            }

            h1 {
                font-size: 4.25vw;
                line-height: 4.5vw;
            }
        }

        .header-slider-wrapper {
            justify-self: flex-end;
            max-width: 70%;
            flex: 0 0 70%;

            @include respond-below(md) {
                padding: 0;
            }

            @include respond-below(md) {
                flex: 0 0 100%;
                max-width: 100%;
            }

            .header-slider {
                position: relative;

                .explore-btn {


                    a {
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        z-index: 2;
                        padding: 20px 55px;
                        background-color: #fff5ef;
                        color: $em-red;
                        transition: .3s ease all;
                        font-family: 'poppins', sans-serif;
                        font-weight: 600;

                        &:hover {
                            transition: .3s ease all;
                            background-color: $em-red;
                            color: #fff5ef;
                        }
                    }
                }

                &:after {
                    width: 100%;
                    height: 7px;
                    background-color: $em-red;
                    content: "";
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    z-index: 1;
                }
            }

            .slider-bottom-text {
                @include header-font;
                font-size: 24px;
                margin-top: 20px;
                text-align: right;
                padding: 0 10%;

                @include respond-below(md) {
                    font-size: 18px;

                    span {
                        font-size: 18px;


                    }
                }

                span {
                    font-style: italic !important;
                    color: $em-red;
                    @include header-font;
                    font-size: 24px !important;

                    @include respond-below(md) {
                        font-size: 18px !important;
                    }
                }
            }
        }
    }
}

.intro-grid {
    margin: 50px 0;

    .intro-grid-item {
        position: relative;

        @include respond-below(md) {
            margin-bottom: 50px;
        }

        .grid-img {
            img {
                width: 100%;
            }
        }

        .grid-title {
            position: absolute;
            bottom: 0;
            left: 0;
            background-color: $em-light-blue;
            margin-left: 15px;
            padding: 15px 25px;
            font-size: 23px;
            @include header-font;

            @include respond-below(lg) {
                font-size: 18px;
            }

            span {
                font-style: italic;
                font-weight: 300;
            }
        }

        .grid-number {
            position: absolute;
            bottom: 50px;
            left: 0;
            background-color: $em-red;
            @include body-font;
            width: 60px;
            height: 60px;
            border-radius: 50%;

            .number {
                font-size: 28px;
                color: #fff5ef;
                text-align: center;
                font-weight: 600;
                text-align: center;
                transform: translateY(25%);
            }
        }

    }
}

.intro-text {
    @include respond-above(md) {
        margin: 100px 0 40px;
    }

    margin: 10% auto 5%;
    position: relative;

    .title {
        margin-bottom: 30px;
    }

    .heart-icon {
        position: relative;

        &::before {
            position: absolute;
            content: '';
            display: block;
            background-image: url(/wp-content/themes/ember/img/svg/heart-icon.svg);
            background-repeat: no-repeat;
            width: 25px;
            height: 25px;
            top: -15px;
            left: 50%;
            transform: translateX(-50%);

            @include respond-below(md) {
                display: none;
            }
        }
        
        img {
            width: 25px;
        }
    }

    p {
        span {
            color: $em-red;
            font-weight: 600;
        }
    }

    .block-1 {
        p {
            @include respond-above(md) {
                padding-right: 35px;
            }
        }
    }
}

#meet-brian {
    .container {
        padding: 0;
    }

    .meet-wrapper {
        justify-content: flex-end;
        margin: 100px 0;
        position: relative;

        .row {
            margin: 0;
        }

        @include respond-below(md) {
            margin: 200px 0 75px;
        }

        .meet-inner {
            background-color: #f2e8e2;
            padding: 10% 7%;
            width: 77%;

            margin-right: 20px;

            @include respond-below(md) {
                width: 100%;
                margin: 0;
            }

            p {
                font-style: italic;

                @include respond-below(md) {
                    text-align: center;
                }
            }
        }

        .brian-img {
            position: absolute;
            left: 40px;
            top: 50%;
            transform: translate(0, -50%);

            @include respond-below(md) {
                top: -125px;
                left: 50% !important;
                width: 150px !important;

                transform: translate(-50%, 0);

                // img {
                //     width: 150px;
                // }
            }

            @media (max-width: 1750px) {
                left: 10px;
            }

            @media (max-width: 1449px) {
                left: -20px;
            }

            @include respond-below(lg) {
                width: 250px;
            }

            img {
                border-radius: 50%;
            }
        }
    }

    .quote-block {
        @include header-font;
        font-size: 40px;
        font-style: italic;
        font-weight: 300;
        width: 70%;
        margin: 0 auto;
        line-height: 4.5rem;

        @include respond-below(md) {
            font-size: 20px;
            line-height: 24px;
        }

        span {
            font-size: 20px;
            color: $em-red;
        }
    }
}


#about-member {
    margin: 100px 0;

    @include respond-below(md) {
        margin: 100px 0 0px;
    }

    .member {
        @media (max-width: 1649px) {}

        .benefits-left {
            margin-left: 18%;
            position: relative;
            display: inline-table;

            @include respond-below(md) {
                width: 100% !important;
                margin: 0;
                text-align: center;
            }


            @media (max-width: 1649px) {
                width: 40%;
            }

            .about-flame {
                position: absolute;
                top: -75px;
                left: -100px;
                width: 35%;
                z-index: -1;



                img {
                    width: 100%;
                }
            }

            .about-title {
                position: absolute;
                top: 50%;
                left: -50%;
                transform: translateY(-50%);

                @include respond-below(md) {
                    position: relative;
                    left: 0;
                    top: 0;
                    transform: translateY(0);
                    font-size: 30px;




                }

                h1 {
                    font-size: calc(max(37px, min(3.75vw, 61px)));
                    line-height: 3.75vw;
                    z-index: 1;

                    span {
                        font-size: calc(max(37px, min(3.75vw, 61px)));
                    }

                    @include respond-below(md) {
                        font-size: 37px;
                        line-height: 35px;

                        span {
                            font-size: 37px;
                        }


                    }
                }
            }

            .about-btn {
                @include respond-below(md) {
                    display: none;
                }

                a {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    z-index: 2;
                    padding: 20px 55px;
                    background-color: #fff5ef;
                    color: $em-red;
                    transition: .3s ease all;
                    font-family: 'Source Sans Pro', sans-serif;
                    font-weight: 600;
                    font-size: 20px;

                    &:hover {
                        transition: .3s ease all;
                        background-color: $em-red;
                        color: #fff5ef;
                    }
                }
            }
        }

        .member-block {
            margin: 20px 0 0 50px;
            width: 25%;

            @media (max-width: 1680px) {
                width: 27%;
            }

            @media (max-width: 1649px) {
                width: 30%;
            }

            @include respond-below(md) {
                width: 100%;
                margin: 25px 0;
                text-align: center;
            }

            .member-title {
                @include body-font;
                color: #bc6328;
                font-size: 30px;
                margin-bottom: 40px;
            }

            .member-content {
                margin-bottom: 40px;

                .title {
                    margin: 10px 0 15px;
                    color: $em-teal;
                    font-size: 20px;
                    font-weight: 600;
                }

                .text {
                    @include body-font;
                    color: #616b74;
                    line-height: 1.75rem;

                    @include respond-above(md) {
                        padding-right: 50px;
                    }


                }
            }
        }

        .services-right {
            img {
                @include respond-below(lg) {
                    width: 75%;
                }

                @include respond-below(md) {
                    width: 100%;
                }
            }
        }

        .special {
            @include body-font;
            font-size: 14px;
            font-style: italic;
            color: #616b74;
            line-height: 14px;

            @include respond-above(md) {
                padding-right: 50px;
            }
        }
    }

    .member.member-services {
        margin-top: 100px;

        @include respond-below(md) {
            margin-top: 50px;
        }

        position: relative;

        .member-block {

            @include respond-below(md) {
                text-align: left;
                width: 30ch;
                margin: 0 auto;
            }
        }

        .services-right {

            @include respond-below(md) {
                margin: 0 auto;
            }
        }

        .services-list {
            ul {
                margin-left: 20px;

                li {
                    @include body-font;
                    color: #2c3e50;
                    font-weight: 600;
                    font-size: 15px;
                    margin: 20px 0;
                    letter-spacing: 0.05rem;
                    position: relative;

                    &:before {
                        content: "";
                        width: 5px;
                        height: 5px;
                        border-radius: 50%;
                        background-color: $em-red;
                        position: absolute;
                        left: -15px;
                        top: 50%;
                        transform: translateY(-50%);
                    }
                }
            }

        }



        .services-title {
            position: absolute;
            right: 0%;
            top: 50%;
            transform: translateY(-50%);

            @include respond-below(md) {
                position: relative;
                top: 0;
                transform: translateY(0);

            }

            @media (max-width: 1649px) {
                right: 5%;
            }

            h1 {
                font-size: 3.75vw;
                line-height: 4vw;

                span {
                    font-size: 3.75vw;
                }

                @include respond-below(md) {
                    font-size: 37px;
                    line-height: 35px;
                    padding: 0 5%;
                    text-align: center;

                    span {
                        font-size: 37px;
                    }
                }
            }
        }
    }
}

#membership {
    .price-note {
        font-size: 13px;
        font-style: italic;
        text-align: center;
        margin-top: 20px;
    }

    margin: 100px 0 50px;

    @include respond-below(md) {
        margin: 50px 0;
    }

    h1 {
        @include respond-below(md) {
            font-size: 36px;
            line-height: 39px;
        }
    }

    .pricing-grid {

        justify-content: center;
        margin-top: 75px;


        .price-item {
            background-color: #ede1da;
            padding: 40px 25px;
            @include body-font;
            color: $em-teal;
            text-align: center;
            width: 22%;
            margin: 0 15px;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            -webkit-box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.23);
            -moz-box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.23);
            box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.23);

            @include respond-below(lg) {
                width: 30%;
            }

            @include respond-below(md) {
                width: 100%;
                margin-bottom: 50px;
            }

            &:nth-child(2) {
                background-color: #fae4d7;
            }

            &:last-child {
                .price-number {
                    font-size: 35px;
                    letter-spacing: normal;
                    margin-bottom: 20px;

                    @include respond-below(lg) {
                        width: 100%;
                    }
                }
            }

            .price-title {
                span {
                    font-weight: 600;
                }
            }

            .price-number {
                font-size: 70px;
                font-weight: 400;
                letter-spacing: -2px;

                @include respond-below(sm) {
                    width: 100%;
                }

                span {
                    font-size: 30px;
                    font-weight: 400;
                }
            }

            .price-billed {
                font-size: 15px;
                font-weight: 600;
                line-height: 16px;
                margin: -15px 0 15px;
            }

            .price-text {
                margin-bottom: 40px;

                p {
                    font-size: 14px;

                    span {
                        font-weight: 600;
                    }
                }
            }

            .price-btn {


                a {
                    background-color: $em-red;
                    font-weight: 600;
                    padding: 15px 50px;
                    border-radius: 5px;
                    color: #fff5ef;
                    transition: .3s ease all;

                    &:hover {
                        background-color: $em-teal;
                        transition: .3s ease all;
                    }
                }
            }
        }
    }
}



#membership-advantages {


    .advantages {
        width: 90%;
        margin: 0 auto;
        border-top: 1px solid $em-light-blue;
        border-bottom: 1px solid $em-light-blue;
        padding: 45px 0;
        position: relative;

        .header {
            &:hover {
                cursor: pointer;
            }

            #collapseOne {
                margin-top: 40px;
            }
        }

        .header[aria-expanded="true"] {
            .advantage-arrow {
                i {
                    transform: rotate(90deg);
                    transition: .3s easea all;

                }
            }
        }

        .advantage-arrow {
            margin-left: 30px;
            display: flex;
            align-items: center;
            position: absolute;
            right: 0;
            /*top: 50%;
            transform: translateY(-50%);*/

            @media (max-width: 1770px) {
                right: -30px;
            }

            i {
                color: $em-red;
                transition: .3s ease all;
            }
        }

        h3 {
            color: $em-teal;
            font-weight: 400;
            font-size: 18px;
            text-align: left;

            a {
                color: $em-red;
                transition: .3s ease all;
                cursor: pointer;

                &:hover {
                    transition: .3s ease all;
                    color: $em-teal;
                }
            }
        }
    }
}


#cta {
    margin: 75px 0;

    .cta-block {
        background-image: url("/wp-content/themes/ember/img/cta-img.jpg");
        padding: 8% 5%;
        background-color: #ede1da;
        background-position: right;
        background-repeat: no-repeat;

        @media (max-width: 1299px) {
            background-image: url("/wp-content/themes/ember/img/cta-img-mobile.jpg");
        }

        .cta-text {
            width: 45%;

            p {
                span {
                    color: $em-red;
                }
            }


            @media (max-width: 1299px) {
                width: 100%;
                text-align: center;
            }

            h1 {
                font-size: 3.5vw;
                line-height: 3.5vw;
                margin-bottom: 30px;

                span {
                    font-size: 3.5vw;
                }

                @media (max-width: 1299px) {
                    font-size: 5vw;
                    line-height: 5vw;
                }

                @include respond-below(md) {
                    font-size: 36px;
                    line-height: 38px;

                    span {
                        font-size: 36px;
                    }
                }

                span {
                    font-style: normal;
                }
            }

            button {
                margin-top: 40px;
                background-color: $em-red;
                font-weight: 600;
                padding: 15px 50px;
                border-radius: 5px;
                color: #fff5ef;
                transition: .3s ease all;

                &:hover {
                    background-color: $em-teal;
                    transition: .3s ease all;
                }
            }
        }
    }
}

#EmberFooter {
    margin: 100px auto;

    @include respond-below(md) {
        margin: 25px auto;
    }

    .footer-top {
        display: flex;
        justify-content: space-between;
        width: 95%;
        margin: 0 auto;
        padding: 0 0 75px 0;
        border-bottom: 1px solid $em-light-blue;
        position: relative;

        @include respond-below(md) {
            justify-content: center;
            padding: 0 0 30px 0;
            flex-wrap: wrap;
        }

        .call-btn {
            position: absolute;
            display: none;
            right: -200px;

            @include respond-below(md) {
                position: relative;
                right: 0 !important;
            }

            @media (max-width: 1649px) {
                right: -125px;

                img {
                    width: 75px;
                }
            }

        }


        .footer-logo {

            @include respond-below(md) {
                width: 100%;
                text-align: center;
            }

            img {
                width: 230px;
            }
        }

        .footer-links {
            display: flex;
            align-items: center;

            @include respond-below(md) {
                margin: 50px 0;
            }

            ul {
                margin: 0;

                @include respond-below(md) {
                    text-align: center;

                }

                li {
                    display: inline-block;
                    margin: 0 25px;
                    @include body-font;
                    color: $em-teal;

                    @include respond-below(md) {
                        width: 100%;
                        margin: 0;
                    }

                    a {
                        &:hover {
                            color: $em-red;
                        }
                    }



                    &:last-child {
                        margin-right: 0px;
                    }
                }
            }
        }
    }

    .footer-bottom {
        margin: 75px auto 100px;
        width: 95%;

        @include respond-below(md) {
            margin: 30px auto 50px;
        }

        .footer-info {
            @include body-font;
            line-height: 2rem;
            color: #656366;
            font-size: 18px;

            .social-link {
                display: inline-block;
                margin-right: 10px;



            }

            @include respond-below(xs) {
                font-size: 14px;
            }

            @include respond-below(md) {
                text-align: center;
                margin: 20px auto !important;
            }


            a {
                transition: .3s ease all;

                &:hover {
                    transition: .3s ease all;
                    color: $em-red;
                }

                i {
                    &:before {
                        font-size: 24px;
                        color: $em-red;
                    }
                }
            }



            &:nth-child(-n+2) {
                margin-right: 125px;
            }

            span {
                color: #ca8763;
                font-weight: 600;
            }
        }
    }
}

#contact-header {
    margin-top: 200px;
    position: relative;
    z-index: 2;

    @include respond-below(md) {
        margin-top: 100px;
    }
}

#contact-form {
    margin-top: 100px;

    .contact-form-wrapper {
        @include respond-below(md) {
            margin-top: 60px;
        }
    }

    .contact-img-block {
        position: relative;

        .contact-flame {
            position: absolute;
            left: -200px;
            top: -300px;
            z-index: 0;

            img {
                width: 600px;

                @include respond-below(md) {
                    width: 400px;
                }

            }
        }

        .contact-img {
            position: relative;
            z-index: 1;
        }
    }
}

.frm_forms {
    select {
        color: #98c8e6;
        @include body-font;
        font-size: 18px;
    }

    .frm_submit {
        display: flex;
        justify-content: flex-end;

        button {
            background-color: $em-red !important;
            @include body-font;
            font-size: 18px;
            border-radius: 20px;
            padding: 15px 50px !important;
            color: #fff5ef !important;
            font-weight: 600 !important;
            text-transform: uppercase;
        }
    }
}

.modal {
    z-index: 9999;

    .modal-dialog {
        margin: 0;
        height: 100vh;
        max-width: 100%;

        .modal-content {
            height: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            overflow: hidden;

            background-color: $em-red;

            .mobile-close {
                position: absolute;
                top: 40px;
                right: 50px;

                &:hover {

                    cursor: pointer;


                }


            }

            .mobile-patients {
                text-align: center;
                position: relative;
                z-index: 1;
                margin: 20px 0;


                a {
                    background-color: $em-teal;
                    min-width: 253px;
                }
            }

            .mobile-call {
                text-align: center;
                margin: 10px 0 0;
                position: relative;
                z-index: 2;

                img {
                    @include respond-below(xs) {
                        width: 75px;
                        margin: 0 auto;
                    }
                }


            }

            .menu-flame {
                position: absolute;
                opacity: .5;
                bottom: -20%;

                img {
                    width: 500px;
                    bottom: 0;
                }
            }

            .mobile-menu {
                .menu-main-container {
                    position: relative;
                    z-index: 99999;
                }

                .mobile-logo {
                    position: absolute;
                    top: 40px;
                    left: 40px;


                    a {
                        svg {
                            width: 150px;

                            path {
                                fill: white;
                            }
                        }
                    }
                }

                #menu-main-1 {
                    margin: 0 !important;
                    text-align: center;

                    li {
                        font-size: 22px;
                        font-weight: 600;
                        @include body-font;
                        color: $em-red;
                        background-color: $em-light-blue;
                        width: 50%;
                        border-radius: 4px;
                        margin: 10px auto;

                        @include respond-below(xs) {
                            font-size: 15px;
                        }

                        a {
                            &:hover {
                                color: $em-teal;
                            }
                        }

                    }
                }
            }
        }
    }
}

.bi-person-fill::before {
    content: "\f4b3";
    transform: translatey(-2px);
}

.bi-x-circle-fill::before {
    content: "\f5e6";
    font-size: 40px;
    color: white;
}

#map {
    margin: 100px 0;
}

/*****Home Page Table*****/
.table {
    padding: 0;
    filter: drop-shadow(0px 0px 6px #0000001f);

    .header {
        text-align: center;

        h4 {
            font-weight: bold;
        }
    }

    .col-4, .col-5 {
        background: #ede1da;
    }

    .row:nth-child(even) .col-4, .row:nth-child(even) .col-5 {
        background: #f6f0ed;
    }

    .col-3 {
        background: #fae4d7;
        text-align: center;

        img {
            width: 25px;
        }
    }

    .row:nth-child(even) .col-3 {
        background: #fdf2eb;
    }

    [class*="col"] {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 40px;
        text-align: center;
        padding: 1em;

        p {
            margin: 0;
        }
    }
}

@media (max-width: 600px) {
    .table.container {

        .header {
            display: none;
        }

        .row {
            background: #ede1da;

            [class*="col"] {
                background: transparent;
                width: 100%;
                max-width: unset;
                flex: 0 0 100%;
                flex-wrap: wrap;

                &::before {
                    width: 100%;
                    font-size: 1.5em;
                    font-weight: bold;
                }

                p {
                    font-size: 1.2em;
                }
            }

            .col-3 {
                background: transparent;

                &::before {
                    content: 'Included at Ember';
                }
            }

            .col-4::before {
                content: 'Local Insurance Price';
            }

            .col-5::before {
                content: 'Office Visit Charges';
            }
        }

        .row:nth-child(odd) {
            background: #f6f0ed;
        }
    }
}