@import "custom-variables";
@import "media-queries";
@import "../bootstrap/scss/bootstrap";
@import "typography";
@import "button";
@import "cta";
@import "navigation";
@import "splash-page";
@import "coming-soon";

body {
    background-color: #fff5ef !important;
}

.site-content {
    width: 100% !important;
}

#wpadminbar {
    @media (max-width: 600px) {
        position: fixed;
    }
}

/* Sass we write */
// .navbar {
//     position: fixed;
//     top: 0;
//     @include admin-sticky-fix;

//     @include respond-below(md) {
//         flex-wrap: nowrap;
//     }
// }


.container {
    .row {
        width: 80%;
        margin: 0 auto;
    }
}

.img-shadow {
    filter: drop-shadow(13px 8px 14px rgba(0, 0, 0, 0.27));
    -webkit-filter: drop-shadow(13px 8px 14px rgba(0, 0, 0, 0.27));
    -moz-filter: drop-shadow(13px 8px 14px rgba(0, 0, 0, 0.27));
}

a:active,
a:focus,
a:hover {
    outline: none;
    border: 0;
}

// .admin-bar .site-content {
//     padding-top: 32px;
// }

a {
    text-decoration: none;
    color: inherit;
}

a {
    &:hover {
        text-decoration: none;
    }
}

.home-hero {
    @media (min-width: 1299px) {
        height: 100vh;
    }

    width: 100%;

    .header-wrapper {
        height: 100%;
        padding: 120px 0 0 0;
        display: flex;
        position: relative;
        justify-content: flex-end;

        .header-title {
            position: absolute;
            left: 9%;
            top: 50%;
            transform: translateY(-50%);
            z-index: 1;

            h1 {
                font-size: 4.25vw;
                line-height: 4.5vw;
            }
        }

        .header-slider-wrapper {
            justify-self: flex-end;
            max-width: 70%;
            flex: 0 0 70%;

            .header-slider {
                position: relative;

                .explore-btn {





                    a {

                        position: absolute;
                        bottom: 0;
                        left: 0;
                        z-index: 2;
                        padding: 20px 55px;
                        background-color: #fff5ef;
                        color: $em-red;
                        transition: .3s ease all;
                        font-family: 'poppins', sans-serif;
                        font-weight: 600;

                        &:hover {
                            transition: .3s ease all;
                            background-color: $em-red;
                            color: #fff5ef;
                        }
                    }
                }

                &:after {
                    width: 100%;
                    height: 7px;
                    background-color: $em-red;
                    content: "";
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    z-index: 1;
                }
            }

            .slider-bottom-text {
                @include header-font;
                font-size: 24px;
                margin-top: 20px;
                text-align: right;
                padding: 0 10%;

                span {
                    font-style: italic;
                    color: $em-red;
                    font-family: 'PoynterOSTextOne';
                    font-size: 30px;
                }
            }
        }
    }
}